.sec-author {
	max-width: 100%;
	margin-bottom: 120px;
	
	&__title {
		margin-bottom: 48px;
	}
}

@media (max-width: $screen-xl) {
	
	.sec-author {
		
		&__title {
			padding: 0 32px;
		}
	}
}

@media (max-width: $screen-lg) {
	
	.sec-author {
		
		&__title {
			margin-bottom: 24px;
		}
	}
}

@media (max-width: $screen-md) {
	
	.sec-author {
		
		&__title {
			padding: 0 24px;
		}
	}
}

@media (max-width: $screen-sm) {
	
	.sec-author {
		margin-bottom: 64px;
	}
}

@media (max-width: $screen-xs) {
	.sec-author {
		
		&__title {
			padding: 0 16px;
		}
	}
}