.sec-question {
	padding: 0 32px;
	margin-bottom: 64px;
	
	&__title {
		margin-bottom: 48px;
		text-align: center;
	}
	
	&__accordion {
		max-width: 800px;
		margin: 0 auto;
	}
}

@media (max-width: $screen-md) {
	
	.sec-question {
		
		&__title {
			margin-bottom: 16px;
		}
	}
}

@media (max-width: $screen-xs) {
	
	.sec-question {
		padding: 0 16px;
	}
}