.card {
	display: flex;
	flex-wrap: wrap;
	min-height: 340px;
	margin: 0 -8px;
	
	&__item {
		display: flex;
		flex-direction: column;
		flex: 1 1 calc(25% - 16px);
		max-width: calc(25% - 16px);
		margin: 0 8px;
		border-radius: 20px;
		background: $bgColorWhite;
	}
	
	&__img {
		max-width: 100%;
		border-radius: 16px;
		height: 200px;
		object-fit: cover;
	}
	
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex: 1 0 auto;
		padding: 16px;
	}
	
	&__title {
		font-weight: 700;
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 4px;
	}
	
	&__text {
		font-weight: 400;
	}
	
	&__link {
		color: $fontColorThird;
	}
}

@media (max-width: $screen-lg) {
	
	.card {
		
		&__item {
			flex: 1 1 calc(50% - 16px);
			max-width: calc(50% - 16px);
			margin: 0 8px 16px;
		}
	}
}

@media (max-width: $screen-xs) {
	
	.card {
		margin: 0;
		
		&__item {
			flex: 1 1 100%;
			max-width: 100%;
			margin: 0 0 16px;
		}
	}
}