.features {
	display: flex;
	flex-wrap: wrap;
	min-height: 110px;
	margin: 0 -8px;

	&__item {
		flex: 1 1 calc(33% - 16px);
		max-width: calc(33% - 16px);
		margin: 0 8px;
		padding: 16px;
		border-radius: 20px;
		background: $bgColorWhite;
	}

	&__title {
		font-weight: 700;
		font-size: 16px;
	}

	&__description {
		font-weight: 400;
	}
}

@media (max-width: $screen-sm) {

	.features {
		margin: 0;
		
		&__item {
			flex: 1 1 100%;
			max-width: 100%;
			margin: 0 0 12px;
		}
	}
}