.roadmap {
	display: flex;
	flex-direction: column;
	background-color: $bgColorWhite;
	border-radius: 40px;
	
	&__module {
		padding: 32px 66px 32px 32px;
		overflow:hidden;
		cursor: pointer;
		border-bottom: 2px solid rgba(0, 0, 0, 0.06);
		
		&:last-child {
			border-bottom: 0;
		}
		
		&.is-Active {
			cursor: default;
		}
		
		&:not(.is-Active) {
			
			& .roadmap__content{
				display: none;
				height: 0;
			}
			
			& .btn__actions_plus{
				transform: rotate(0deg);
			}
		}
	}
	
	&__head {
		position: relative;
	}
	
	&__subtitle {
		
		span {
			margin-left: 12px;
		}
	}
	
	&__actions {
		position: absolute;
		right: -36px;
		top: 50%;
		transform: translateY(-50%);
	}
	
	&__title {
		margin-top: 8px;
		font-size: 32px;
		line-height: 36px;
	}
	
	&__content {
		display: block;
		height: auto;
		overflow-wrap: break-word;
	}
	
	&__description {
		margin-top: 16px;
		font-size:18px;
		line-height: 26px;
	}
	
	&__tags {
		display: flex;
		flex-wrap: wrap;
		gap: 16px;
		margin-top: 24px;
	}
	
	&__tag {
		display: inline-block;
		border-radius: 8px;
		background-color: $bgColorTwo;
		padding: 8px;
	}
	
	&__projects {
		display: flex;
		flex-wrap: wrap;
		gap: 16px;
		margin-top: 16px;
	}
	
	&__project {
		display: flex;
		flex-direction: column;
		max-width: 232px;
		padding: 16px;
		border-radius: 16px;
		background-color: $bgColorTwo;
	}
	
	&__text {
		margin-top: 4px;
		font-weight: 400;
		font-size: 12px;
		line-height: 16px;
	}
}

@media (max-width: $screen-md) {
	.roadmap {
		background-color: transparent;
		border: 0;
		border-radius: 0;
		border-bottom: 2px solid rgba(0, 0, 0, 0.06);
		
		&__module {
			padding: 16px 36px 16px 0;
		}
		
		&__subtitle {
			font-size: 14px;
			line-height: 22px;
			
			span {
				margin-left: 8px;
			}
		}
		
		&__title {
			font-size: 16px;
			line-height: 20px;
		}
		
		&__description {
			font-size: 16px;
			line-height: 22px;
		}
	}
}

@media (max-width: $screen-sm) {
	
	.roadmap {
		
		&__tags {
			display: block;
			margin-top: 8px;
		}
		
		&__tag {
			display: inline-block;
			width: 100%;
			padding: 0;
			background: unset;
			font-size: 14px;
			line-height: 22px;
			
			&:before {
				content: '—';
				margin-right: 4px;
			}
		}
		
		&__projects {
			display: block;
			margin: 0;
		}
		
		&__project {
			display: inline-block;
			width: 100%;
			padding: 0;
			background: unset;
			font-size: 14px;
			line-height: 22px;
		}
		
		&__name {
			
			&:before {
				content: '—';
				margin-right: 4px;
			}
		}
		
		&__text {
			display: none;
		}
	}
}

@media (max-width: $screen-xs) {
	.roadmap {
		
		&__module {
			padding: 12px 36px 12px 0
		}
	}
}